body{
    background-color: #101012;

}

li{
    color: seashell;
    list-style: none;
    display: inline-block;
    margin: 10px;
}

h1{
    color: white;
    font-size: 100px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;

}

img{
    float: left;
    max-width: 50%;
    max-height: 50%;
}

.webtext{
    color: snow;
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 20px;
}

