h1{
    color: #99COC7;
    background-color: transparent;
    text-align: center;
    border: 2px solid rgba(255, 176, 170, 0.7);
    cursor: alias;
}

body{
    background-image: url('../resource/background.jpg');
    /* background-size: auto; */
    color: bisque;
}

li{
    list-style: none;
}

a{
    display: inline-block;
}