


body{
    background-image: url('../resource/background.jpg');
    /* background-size: auto; */
    color: bisque;
}

h1{
    /* color: #99COC7; */
    color: rgb(99, C0, C7);
    text-align: center;
    border: 2px solid black);
    cursor: alias;
}







