h1{
    color: darkgoldenrod;
    background-color: transparent;
    text-align: center;
    border: 2px solid white;
}

body{
    background-image: url('../resource/background.jpg');
    /* background-size: auto; */
    color: bisque;
}